* {
  box-sizing: border-box;
}
body {
  font-size: 1.3rem;
  margin: 20px;
  padding: 20px 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  line-height: 1.8rem;
  background-image: url(./images/VN_Map.jpeg);
  background-size: cover;
  object-fit: cover;
}
h1,
h2 {
  text-align: center;
  font-size: 1.5rem;
}
h1 {
  text-transform: uppercase;
  color: rgb(138, 43, 43);
  text-shadow: 1px 1px rgb(29, 27, 27);
  font-size: 2.5rem;
}
.HCM_Img img {
  display: block;
  width: 600px;
  margin: 40px auto;
  border: 1px solid darkblue;
  border-radius: 5px;
  filter: brightness(130%);
  box-shadow: 5px 5px rgb(141, 140, 79);
}
.HCM_Img p {
  text-align: center;
  font-size: 1.8rem;
}
.HCM_Img > p {
  font-size: 1.3rem;
  font-style: italic;
  color: rgb(29, 61, 4);
  font-size: 1.5rem;
}
.info{
  margin-top: 10vh;
  counter-reset: counter-h3;
}
.info li{
  list-style-type:circle;
}
.info h3::before{
counter-increment: counter-h3;
content: counter(counter-h3) ' - ';
}
article {
  display: inline-block;
}
article a {
  color: blue;
}
article a:visited {
  color: rgb(68, 38, 38);
}
article a:hover {
  color: goldenrod;
}
article a:active {
  color: green;
}
article div {
  width: 30vmax;
  height: 90vh;
  display: inline-block;
  overflow: hidden;
}
article div:nth-child(2) {
  margin: 0 20px;
}
article img {
  width: 30vmax;
  height: 48vh;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px gray;
  margin-bottom: 20px;
}
article img:hover {
  transform: translateY(-10px);
  border: 2px solid goldenrod;
}
footer {
  width: 93vmax;
  background-color: rgba(114, 67, 5, 0.144);
  margin-top: 60px;
  text-align: center;
  padding: 10px;
}
